*{}
#gameBoard{
	background-color: gray;
	width:fit;
	height: 70%;
	padding-top: 150px;
	background: url("Pics/gameBackground.jpg");
	text-align: center;
}

#gameBoard > div{
	width: 190px;
	height: 260px;
	padding: 20px;
	display: inline-block;
	position: relative;

}

img{
	width: 190px;
	height: 260px;
}
.gameBtns{
	background-color: black;
	color: red;
	width: 100px;
	height: 30px;
	margin-left:612.5px;  
	margin-top: 10px;
}

.charaImg{
	width:30px;
	height: 30px;
	margin-right: 30px;
	margin-top: 5px;
	margin-left: 5px; 
}

#characterBar{
	background-color: gray;
	width: 100%;
	height: 50px;
	align-self: top;
	text-align: left;
	padding-left: 50px;
	padding-top: 10px;
}

#charaImg{
	width:40px;
	height: 40px;
	margin-right: 10px;
}

.charName{
	font-size: 24px;
	color: white;
	margin-bottom: 10px;
}

.leftlabel{
	font-size: 24px;
	font-style: bold;
	color: red;
	margin-bottom: 10px;
	margin-left: 15px;
}
#container{
	background-color: gray;
}


@keyframes example {
	from{width: 300px; height: 50px; }
	to{width: 300px; height: 300px;}
}
#messageDiv{
	position: relative;
	margin: auto;
	border-radius: 47px 47px 47px 47px;
	border: 6px solid black;
	box-shadow: 13px 15px 29px 7px rgba(87,87,87,1);
	text-align:center;
	font-size: 20px;
	font-family: cursive;
	visibility: hidden;
	width: 300px;
	height: 300px; 
	padding: 0px;
	margin-top: -22em;
	/*margin-left: 770px;*/
	z-index: 99;
	/*overflow-y: scroll;*/
}

#messageImg{
	position: relative;
}

.messageAnimation{
	animation-name: example;
	animation-duration: 1s;
}
/*.mycard {
	position:relative;
	width:240px; height:200px; margin:20px; float:left;
}
.mycard > .front {
	position:absolute;
	transform: perspective( 1000px ) rotateY( 0deg );
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}

.mycard > .back {
	position:absolute;
	transform: perspective( 1000px ) rotateY( 180deg );
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}*/
