#main{
	position:absolute;
	width: fit;
	height:70%;
	float:left;
	text-align: center;

}
#main > div{
	position:absolute;
	backface-visibility: hidden;
}
#welcomePage{
	background: url("Pics/welcomePage.jpg");
	width:1350px;
	height:600px;
}
}
#characterPage{
	position: relative;
	width:1350px;
	height:600px;
	text-align: center;
}
#mainCharacter{
	background: url("Pics/characterPage.jpg");
	position:absolute;
	width:1350px;
	height:600px;
}

#loadingBar{
	margin-top: 500px;
	margin-left: 472.5px; 
	width:30%;
	background-color: black;
	border-radius: 5px;
}
#loader{
	width:1%;
	height: 10px;
	background-color: #ed1c24;
	border-radius: 5px;
}

input{
	background-color: lightgray;
	/*color: red;*/
	margin-top: 100px;
	width: 20%;
    padding: 10px 10px;
    /*margin: 8px 0;*/
    border-radius: 10px;
}
.leftCharacter{
	float: left;
	margin: 50px;
}
.rightCharacter{
	float: right;
	margin: 50px;
}

.charBtn{
	border: none;
	background-color: transparent;
}
.charBtn:hover {
	transform: scale(1.25, 1.25);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#gameBoard{
	width:1250px;
	height: 600px;
	text-align: center;
	padding-left: 120px;
	padding-top: 50px;
}
#characterBar{
	background-color: transparent;
	width: 100%;
	height: 50px;
	align-self: top;
	text-align: left;
	padding-left: 50px;
	padding-top: 10px;
}
#gameBoard > div{
	width: 190px;
	height: 260px;
	padding: 20px;
	display: inline-block;
	position: relative;
	text-align: center;
}
#characterDiv{
	width: 100%;
	height: 8%;
	background-color: transparent;
	padding-top: 5px;
	padding-right: 30px;
	text-align: right;
}
.charaImg{
	width:40px;
	height: 40px;
	margin-right: 10px;
}
#play{
	border-radius: 10px;
	background-color: white;
	align-self: bottom;
	position: relative;
	margin-top: 70px;
	margin-right: 50px;
}
#myAudio{
	width: 30px;
	height: 30px;
	align-self: right;
	margin-right: 20px;
	
}
.charName{
	font-size: 24px;
	color: white;
	margin-bottom: 10px;
}
.leftlabel{
	font-size: 24px;
	font-style: bold;
	color: red;
	margin-bottom: 10px;
	margin-left: 15px;
}
.mycard {
	position:relative;
	width:240px; height:200px; margin:20px; float:left;
}
.mycard > .front {
	position:absolute;
	transform: perspective( 1000px ) rotateY( 0deg );
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}

.mycard > .back {
	position:absolute;
	transform: perspective( 1000px ) rotateY( 180deg );
	backface-visibility: hidden;
	transition: transform .5s linear 0s;
}